html { /* From https://github.com/Famous/core/blob/master/famous.css */
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

body { /* From https://github.com/Famous/core/blob/master/famous.css */
    width: 100%;
    font-family: helvetica, arial, sans-serif;
    background-color: #EAEAEA;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-perspective: 0;
    perspective: none;
    overflow: hidden;
}

.map-div {
    position: absolute;
    background-color: rgba(150,0,0,.75);
    width: 2800px;
    height: 2400px;
}

.flowLabel {
    position: absolute;
    pointer-events: none; /* Allows interactions with elements below */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    color: #333;
    display: none; /* Initially hidden */
}

.name {
    font-weight: bold;
}

.time {
    margin-top: 5px;
}

/* Example CSS for the legend */
.legend {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.legend h3 {
  margin-top: 0;
  font-size: 18px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 1px solid #ccc;
}

/* Add more CSS styles for legend labels and colors as needed */
